@import '~boxicons';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.open-help-desk-homepage {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &-buttons {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      outline: none;
      box-shadow: 0 0 15px rgba(#000, 0.2);
      padding: 20px 30px;
      border: none;
      background-color: #353269;
      color: #69669D;
      align-items: center;
      justify-content: center;
      display: flex;
      cursor: pointer;
      font-size: 1.2rem;
      transition: .5s all;

      &:hover {
        transform: scale(0.9);
      }

      &:last-of-type {
        border: 1px solid #353269;
        background-color: white;
        margin-left: 2rem;
        color: #353269;
      }
    }
  }
}

.open-help-desk-needy {
  &-form {
    display: flex;
    width: calc(100% - 30rem);
    height: calc(100vh - 10rem);
    padding: 5rem 15rem;
    flex-direction: column;
    position: relative;

    .go-back {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 3rem;
      color: #353269;
      cursor: pointer;
      transition: .5s all;

      &:hover {
        transform: scale(0.9);
      }
    }

    &-box {
      width: 100%;
      height: 100%;
      box-shadow: 0 0 15px rgba(#000, .2);
      background-color: white;
      border-radius: 10px;
      display: flex;
      padding: 2rem;

      &-left {
        flex-basis: 30%;
        background-color: #353269;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          height: 50%;
          color: #69669D;
          //cursor: pointer;
          transition: .5s all;

          &--active {
            color: white;
            transform: scale(1.1);
          }

          //&:hover {
          //  color: white;
          //  transform: scale(0.9);
          //}

          i {
            font-size: 3.5rem;
          }
        }
      }

      &-main {
        display: flex;
        flex-basis: 70%;
        padding: 0 8rem;
        //align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        h1 {
          color: #353269;
        }

        &-inputs-box {
          display: flex;
          width: 100%;
          flex-direction: column;

          .tags-info {
            font-size: 13px;
            color: red;
          }

          &-row {
            width: 100%;
            display: flex;

            &:first-of-type {
              .input-box {
                flex-basis: 50%;

                &:first-of-type {
                  margin-right: 2rem;
                }

              }

            }


            .all-tags-box {
              display: flex;
              width: 100%;
              position: relative;
              border: 2px solid #69669D;
              color: #69669D;
              padding: 0.4rem;
              padding-bottom: 0;
              border-radius: 5px;
              flex-wrap: wrap;

              input {
                border: 0 !important;
                margin-bottom: 0 !important;
                width: unset !important;
              }

              .tag-box {
                height: 48px;
                border-radius: 5px;
                background-color: #353269;
                color: #69669D;
                margin-right: 0.2rem;
                display: flex;
                align-items: center;
                margin-bottom: .4rem;

                p {
                  padding: 0 0.5rem;
                  font-size: 13px;
                }
              }
            }

            .input-box {
              width: 100%;

            }
          }


          .input-box {
            input, textarea {
              outline: none;
              height: 30px;
              border-radius: 5px;
              width: calc(100% - 1rem);
              padding: .5rem;
              border: 2px solid #69669D;
              color: #69669D;
              margin-bottom: 2rem;
            }

            label {
              color: #69669D;
              font-size: 13px;

            }

            textarea {
              resize: none;
              height: 80px;
            }
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #69669D;
          background-color: #353269;
          outline: none;
          border: none;
          padding: 10px 20px;
          border-radius: 10px;
          font-size: 1.2rem;
          width: 30%;
          cursor: pointer;
          transition: .5s all;
          font-weight: 600;

          &:hover {
            border: 1px solid #353269;
            color: #353269;
            background-color: white;

            transform: scale(0.9);


          }

        }
      }
    }


  }
}

.open-help-desk-helper {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;

  &-top {
    width: calc(100% - 5rem);
    background-color: white;
    box-shadow: 0 0 15px rgba(#000, .2);
    padding: 1rem 2rem 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;


    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F4F4F6;

      border: 1px solid #E2E5EE;
      padding: 5px;
      color: #8C8D9F;
      transition: .5s all;
      cursor: pointer;

      i {
        margin: auto;
      }

      &:hover {
        transform: scale(1.1);

        i {
          color: #353269;

        }
      }
    }
  }

  &-main {
    display: flex;
    height: calc(100vh - 3.6rem);

  }

  &-problems {
    flex-basis: calc(50% - 6rem);
    background-color: #F4F4F6;
    padding: 2rem 3rem;
    display: flex;
    //height: calc(100vh - 4rem);


    &-list {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-item, &-item--active {
        box-shadow: 0 0 15px rgba(#000, .2);
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 1rem;
        max-width: calc(100% - 2rem);
        min-width: calc(100% - 2rem);
        align-items: center;
        margin-bottom: 1rem;
        transition: .5s all;
        cursor: pointer;

        &--active {
          transform: scale(1.03);
        }

        &:hover {
          transform: scale(1.03);
        }

        &-needy-person-box {
          display: flex;
          align-items: center;
          width: -moz-fit-content;


          .avatar {
            width: 50px;
            height: 50px;
            display: flex;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            box-shadow: 0 0 15px rgba(#000, 0.2);

          }

          .nickname {
            color: #353269;
            font-weight: 500;
            font-size: 14px;
            margin-left: 1rem;
          }
        }


        &-problem-info {
          display: flex;
          min-width: 70%;
          max-width: 70%;
          flex-direction: column;

          justify-content: flex-start !important;
          align-items: flex-start !important;

          margin-right: 1rem;

          .problem-title {
            color: #353269;
            font-weight: 500;
            font-size: 14px;
          }

          .problem-tags {
            font-size: 11px;
            color: #CECFD0;
            white-space: nowrap;
            display: flex;
            overflow-x: auto;
            flex-wrap: nowrap;
            width: calc(100% - 1rem);
          }
        }

        .problem-category-box {
          width: -moz-fit-content;

          background-color: #69669D;
          padding: 6px;
          border-radius: 4px;
          justify-content: center;
          align-items: center;


          .problem-category {
            font-size: 12px;
            width: 100%;
            justify-content: flex-end;
            color: white;

          }
        }


      }
    }
  }

  &-comments {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    //height: 100vh;
    justify-content: space-between;


    &-top {

      box-shadow: 0 0 15px rgba(#000, .2);
      background-color: white;
      display: flex;
      padding: 2rem;
      width: calc(100% - 4rem);
      justify-content: space-between;

      &-needy-person-box {
        display: flex;
        flex-direction: column;
        width: 100%;


        h3 {
          font-size: 1rem;
          color: #353269;
        }

        .needy-person {
          display: flex;
          align-items: center;

          p {
            font-size: 12px;
            color: #CECFD0;

          }

          .nickname {
            color: #353269;
            font-weight: 600;
            font-size: 14px;
            margin-left: .5rem;
          }
        }
      }

      &-needy-buttons-box, {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #F4F4F6;

          border: 1px solid #E2E5EE;
          padding: 5px;
          color: #8C8D9F;
          transition: .5s all;
          cursor: pointer;

          i {
            margin: auto;
          }

          &:hover {
            transform: scale(1.1);

            i {
              color: #353269;

            }
          }
        }
      }
    }

    &-main {
      background-color: #E2E5EE;
      width: calc(100% - 4rem);
      height: calc(100% - 2rem);
      padding: 1rem 2rem;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #C5C9D2;
      }

      &::-webkit-scrollbar-thumb {
        background: #9698A5;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #b296be;
      }

      .open-help-desk-helper-comments-list-item {
        display: flex;
        width: 100%;
        margin-bottom: 1rem;

        &-right {
          justify-content: flex-end;

          .open-help-desk-helper-comments-list-item-comment {
            background-color: #5D5CFA !important;

            p {
              color: white !important;
            }
          }

          .open-help-desk-helper-comments-list-item-person {
            display: none;
          }
        }

        &-person {
          display: flex;
          width: 50px;
          height: 50px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          margin-right: 2rem;
        }

        .open-help-desk-helper-comments-list-item-comment {
          box-shadow: 0 0 15px rgba(#000, 0.2);
          background-color: white;
          width: 50%;
          display: flex;
          padding: 1rem;
          align-items: center;

          p {
            color: #949390;
          }
        }


      }
    }

    &-write-comment {
      width: calc(100% - 4rem);
      box-shadow: 0 0 15px rgba(#000, 0.2);
      padding: 2rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      textarea {
        resize: none;
        outline: none;
        border: 1px solid #E2E5EE;
        background-color: #F4F4F6;
        width: calc(100% - 2rem);
        height: 70px;
        padding: 1rem;
        color: #8C8D9F;

        &::placeholder {
          color: #8C8D9F;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;
        background-color: #4FBD80;
        border: none;
        padding: 5px 40px;
        color: white;
        width: 130px;
        margin-top: 1rem;
        border-radius: 5px;
        transition: .5s all;

        &:hover {
          transform: scale(.9);
        }
      }
    }
  }
}

